{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link href="{{ asset('css/signin.css') }}" rel="stylesheet" />
<form class="signin-form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="signin-container">
    <h1 class="signin-plz">Please sign in</h1>
    <input placeholder="username" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <input placeholder="password" type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </div>
</form>
{% endblock %}
