{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
        <link href="{{ asset('css/base.css') }}" rel="stylesheet" />

        <div class="banner-img-div">
        </div>

        <h1>
            Freedom Market
        </h1>

        <h3>
            Get yourself some freedom or share with our community!
        </h3>
{% endblock %}
