@media screen and (min-width: 468px){
    .blog-main-div {
        width: 80%;
        height: 100em;
    
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    .blog-article-div {
        margin-bottom: 1em;
        border-radius:  10px;
        padding: 100px;
        background-color: #2f3131;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 100px;
    }
    
    .blog-title {
        font-size: 2em;
        color: #CD412B;
    
    }
    
    .blog-date {
        font-size: 2em;
        color: #CD412B;
        align-self: flex-end;

    }
    
    .blog-content {
        color: #bbbb;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 2em;
    }
    
    .blog-img {
        align-self: center;
        width: 90%;
        height: auto;
        
    
    }

    .blog-new {
        text-decoration: none;
        width: 76px;
        color: #bbbb;
        border-bottom: 3px solid transparent;
    }
    
    .blog-new:hover {
        color: #CD412B;
        border-bottom: 3px solid #CD412B;
    }
    
}
@media screen and (min-width: 992px){

.blog-main-div {
    width: 80%;
    height: 65em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.blog-article-div {
    border-radius:  10px;
    margin-bottom: 10px;
    background-color: #2f3131;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
    
}

.blog-title {
    color: #CD412B;

}

.blog-date {
    font-size: 2em;
    color: #CD412B;
}

.blog-content {
    color: #bbbb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 2.5em;
}

.blog-img {
    width: 90%;
    height: auto;

}

.blog-new {
    text-decoration: none;
    color: #bbbb;
    border-bottom: 3px solid transparent;
}

.blog-new:hover {
    color: #CD412B;
    border-bottom: 3px solid #CD412B;
}
}