.red {
    color: red;
}

.navbar-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    background-color: #333636;
    height: 46px;
}

.navbar-div {
    display: flex;
    align-items: center;
}

.navbar-burger-div{
    display: flex;
    align-items: center;
}

.navbar-div li a, .navbar-ul li a {
    padding: 1em;
    text-decoration: none;
    color: #bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;

}

.navbar-div li a:hover, .navbar-ul li a:hover {
    color: #CD412B;
    border-bottom: 3px solid #CD412B;

}

.navbar-div li, .navbar-ul li {
    list-style: none;   
}

body {
    background-color: #131414;
}

/* burger icon */

.burger {
    height: 250px;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 16;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
}

.burger a:not(.closebtn) {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #bbbbbb;
    display: flex;
    width: 200px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.burger a:hover {
    color: #CD412B;
    border-bottom: 3px solid #CD412B;
}

.burger .closebtn {
    position: absolute;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #bbbbbb;
    display: flex;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #333;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #CD412B;
}
 /* */


.nav-user-img {
    width: 40px;
    border-radius: 50%;
} 

.img-link {
    display: flex;
    align-items: center;
    padding: 9px;
    border-bottom: 3px solid transparent;
}

.img-link:hover {
    color: #CD412B;
    border-bottom: 3px solid #CD412B;
}

.home-img {
    width: 30px;
}

.banner-img-div {
    background-image: url("../uploads/mainPictures/blackMarket.jpg");
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    position: relative;
    background-color: transparent;
}

h3, h1 {
    color: #bbbb;
    text-align: center;
    padding: 10px;
}