.chat-container {
  padding-left: 10px;
  height: 1000px;
}

.chat-div {
    height: 400px;
    width: 500px;
    overflow: scroll;
    overflow-x: hidden;


}

/*scrollbar*/

.chat-div::-webkit-scrollbar {
    width: 10px;
  }
  

  .chat-div::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  .chat-div::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  .chat-div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.chat-div::-webkit-scrollbar {
    width: 20px;
  }
  

  .chat-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  

  .chat-div::-webkit-scrollbar-thumb {
    background: 1E2020;
    border-radius: 10px;
  }
/* / */

.chat-user {
    margin: 0;
    padding: 0;
}

.chat-content {
    color: #bbbb;
    margin: 0;
    
    padding-bottom: 5px;
}

.chat-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.chat-submit {
    margin-top: 5px;
    background-color: #CE412C;
    border: none;
    color: #D0D0D2;
    width: 80px;
    height: 40px;
}

.chat-submit:hover {
    background-color: #cf5b49;
}

.chat-input-content {
    background-color: #1E2020;
    color: white;
}

.user {
    margin: 3px;
    color: red;
}

.chat-user-img {
    border-radius: 50%;
    width: 40px;
}