.product-container {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 570px;
    margin: 10px;
    padding: 50px;
    text-align: center;
    font-family: Arial;
    background-color:#333636;
    color: #bbbb;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-dogecoin {
    width: 30px;
    padding: 5px;
    border-radius: 50%;

}

h1 {
    display: flex;
}

.product-name a {
    text-decoration: none;
    color: #bbbb;
}

.product-name a:hover {
    color: #CD412B;
}

.product-card-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: max-content;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-family: Arial;
    background-color:#333636;
    color: #bbbb;
}

.product-buy {
    text-decoration: none;
    color: #bbbb;
}

.product-buy:hover {
    color: #CD412B;
}