.signin-plz {
    color: #bbbb;
}

.signin-username {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

form button {
    background-color: #CD412B;
    color: #bbbb;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

form button:hover {
    opacity: 0.8;
}

.signin-container {
    padding: 16px;
}

.signin-container {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 20%;
    margin: 5px;
}

body {
    color: #bbbb;
}