body {
    color: #bbbb;
}

.user-container {
    width: 60%;
    background-color: #272929;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.user-img {
    width: 100px;
    border-radius: 50%;
} 
