<link href="{{ asset('css/product.css') }}" rel="stylesheet" />

<div class="product-card-id">
        <img class="product-img" src="{{asset('uploads/productPictures/' ~ product.picture)}}">
        <h1 class="product-name">{{ product.name }}</h1>
        <h1>{{ product.price }}<img class="product-dogecoin" src="{{asset('uploads/productPictures/' ~ "dogecoin.png")}}"></h1>
        <h1>{{ product.description}}</h1>
        <h1><a class="product-buy" href="#">Buy</a></h1>
</div>