{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<link href="{{ asset('css/product.css') }}" rel="stylesheet" />
<div class="product-container">
    {% for product in products %}
<div class="product-card">
        <img class="product-img" src="{{asset('uploads/productPictures/' ~ product.picture)}}">
        <h1 class="product-name"><a href="{{ path('view', {id: product.id}) }}">{{ product.name }}</a></h1>
        <h1>{{ product.price }}<img class="product-dogecoin" src="{{asset('uploads/productPictures/' ~ "dogecoin.png")}}"></h1>
</div>

    {% endfor %}
</div>

{% endblock %}
