{% extends 'base.html.twig' %}


{% block body %}
    <link href="{{ asset('css/chat.css') }}" rel="stylesheet" />
    <div class="chat-container">
    <div class="chat-div" id="chat-div">
        {% for message in messages %}
        <img class="chat-user-img" src="{{asset(user_profil_pictures_dir ~ message.user.profilPicture)}}">
        <h5 class="user">{{ message.user }} :</h5>
        <h6 class="chat-content">{{ message.content }}</h6>
        {% endfor %}
    </div>
    
    <div  class="chat-input">
    <form class="chat-form" action="message/create" method="POST">
    <input class="chat-input-content" type="text" id="chat-content" name="chat-content">
    <input class="chat-submit" type="submit" value="submit" />
    </form>
    </div>
    </div>
    <script src="{{ asset('js/chat.js') }}"></script>
{% endblock %}
