<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js/base.js') }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="navbar-ul-div">
        <ul class="navbar-ul">
                <li class="navbar-main">

                    <a href="{{ path('main')}}">Home</a>
                </li>
                <div class="navbar-burger-div">
                <div class="navbar-div">
            {% if app.user %}
         
                <a class="img-link" href="{{ path('user_index')}}"><img class="nav-user-img" src="{{asset(user_profil_pictures_dir ~ app.user.profilPicture)}}"></a>
           
                <li class="navbar-logout">
                    <a href="{{ path('app_logout')}}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login')}}">Login</a>
                </li>
                <li>
                    <a href="{{ path('app_register')}}">Register</a>
                </li>
            {% endif %}
            </div>
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        </ul>
        </div>
        </div>
        <div class="burger" id="burger">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ path('product') }}">Shop</a>
            <a href="{{ path('article_index') }}">Blog</a>
            <a href="{{ path('message') }}">Chat room</a>
        </div>


        {% block body %}    
        {% endblock %}
    </body>
</html>
