{% extends 'base.html.twig' %}

{% block title %}Delete article{% endblock %}

{% block body %}
<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn">Delete</button>
</form>
{% endblock %}


