{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<link href="{{ asset('css/article.css') }}" rel="stylesheet" />
<div class="blog-main-div">
    <a class="blog-new" href="{{ path('article_new') }}">Create new</a>
{% for article in articles %}
            <div class="blog-article-div">
                <h6 class="blog-title">{{ article.title }}</h6>
                <h5 class="blog-date">{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</h5>
                <img class="blog-img" src="{{asset('uploads/articlePictures/' ~ article.picture)}}">
                <h3 class="blog-content">{{ article.content }}</h3>
            </div>
    {% endfor %}
</div>
        {# 
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>

         #}


    {# // <script src="{{ asset('js/article.js') }}"></script> #}
{% endblock %}
