{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <link href="{{ asset('css/user.css') }}" rel="stylesheet" />
        <div class="user-container">
        <h1>Profil</h1>
        <img class="user-img" src="{{asset(user_profil_pictures_dir ~ app.user.profilPicture)}}">
        <h2>{{ app.user.username }}</h2>

        </div>
{% endblock %}
